
.resume-download {
  border-radius: 20px !important;
}

.resume-download:hover {
  background-color: green !important;
  color: white !important;
}

.profile-pic {
  margin-top: 15px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.custom-container {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.custom-container:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.custom-container h3 {
  color: #b9520e;
}

.custom-container ul li {
  margin: 10px 0;
  font-size: 1.1rem;
}

.custom-container ul li:hover {
  color: #ff6600;
  transition: color 0.2s ease-in-out;
}

.custom-container ul li i {
  color: #ff6600;
  margin-right: 10px
}

.custom-container ul li img {
  margin-right: 10px;
}

#skills h2 {
  font-weight: bold;
  color: #111010;
}

.card {
  border-radius: 15px !important;
}

.project-image {
  /* consistent height */
  height: 400px;
  /* fit card width */
  width: 100%;
}

.my-email:hover,
.my-linkedin:hover {
  text-decoration: underline !important;
}

/* Profile Pic Bounce effect */
/* keyframe defines how animation works through diff stages */
@keyframes bounce {

  /* origin (no movement) */
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  /* moves up by 15px */
  40% {
    transform: translateY(-15px);
  }

  /* moves up by 8px */
  60% {
    transform: translateY(-8px);
  }
}

/* takes 3s to complete 1 bounce */
.animate-bounce {
  animation: bounce 3s;
} 